* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4facfe, #00f2fe);
  font-family: Arial, sans-serif;
}

canvas {
  background: #70c5ce;
  border-radius: 12px;
}